<ul class="list-unstyled">
  <!-- Único ítem con dropdown para perfil/usuario -->
  <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
      <!-- Imagen de usuario -->
      <img
        src="assets/images/user/avatar-2.jpg"
        alt="user-avatar"
        class="user-avatar me-2"
      />
    </a>
    <!-- Dropdown con la opción de Logout -->
    <div
      class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown"
      ngbDropdownMenu
    >
      <a class="dropdown-item" (click)="onLogout()">
        <i class="text-muted" antIcon theme="outline" type="logout"></i>
        <span>Logout</span>
      </a>
    </div>
  </li>
</ul>
